///
// Skin: Voodoo 
// Author: Emmanuel Blonkowski
///


.page__content {
	background-image: url('bground.svg');
	background-repeat: repeat-x;
}


$soft-brown: #51391aff;
$soft-red: #bb3826ff;
$dark-brown: #342515ff;
$soft-green: #205f49ff;
$greenish-ash  : #8ca69cff;
$deep-dark-blue  : #0f1324ff;
$pupil-black: #0e110cff;
$voodoo-yellow  : #ffdba1ff;
$voodoo-orange  : #bb4026ff;
$voodoo-carmin  : #9f2820ff;
$soft-yellow  : #eea721ff;
$night-blue  : #252767ff;
$sea-azure  : #02a2ddff;


    

// main colors
$main-color-1:     $voodoo-carmin; // used for buttons
$text-color-1:     rgba($voodoo-yellow, 1);

$main-color-2:     $soft-green;
$text-color-2:     rgba($voodoo-carmin, 1);
// this is used for header in particular
$main-color-3:     rgba($soft-green, 1);
$text-color-3:     rgba($soft-yellow, 1);


$main-color-theme-light: rgba(#000, .8);
$main-color-theme-dark:  rgba($voodoo-yellow, 1);

// page background
$background-color: $pupil-black;

// text colors
$text-color-theme-light-d: #000;
$text-color-theme-light:   #222;
$text-color-theme-light-l: #888;

$text-color-theme-dark-d:  rgba($soft-yellow, 1);
$text-color-theme-dark:    rgba(#f5fffc, 1);
$text-color-theme-dark-l:  rgba($soft-yellow, 1); // license info + post date

$text-color-d:     $text-color-theme-dark-d;
$text-color:       $text-color-theme-dark;
$text-color-l:     $text-color-theme-dark-l;

$text-background-color: rgba(#fff, .05);

// header and footer colors
$header-text-color: $text-color-3;
$header-background: $main-color-3;

$footer-text-color: $text-color-3;
$footer-background: $main-color-3;

// border and shadow colors
$border-color:     mix(#fff, $background-color, 20%);
$border-color-l:   mix(#fff, $background-color, 10%);
$decorate-color:   rgba(#fff, .1);
$mask-color:       rgba(#000, .9);
$select-color:     rgba($main-color-1, .5);

// function colors
$green:           #5baa34;
$blue:            #1c7cd4;
$yellow:          #c9771f;
$red:             #da3d45;
$text-color-function: rgba(#fff, .8);

// logo colors
$mail-color:       #0072c5;
$facebook-color:   #4267b2;
$twitter-color:    #1da1f2;
$weibo-color:      #e6162d;
$google-plus-color:#ea4335;
$telegram-color:   #32afed;
$medium-color:     #000;
$zhihu-color:      #0084ff;
$douban-color:     #42bd56;
$linkedin-color:   #1074af;
$github-color:     #000;
$npm-color:        #fff;

// highlight colors
@import "skins/highlight/tomorrow-night";
