// theme color definitions
$soft-brown: #51391aff;
$soft-red: #bb3826ff;
$dark-brown: #342515ff;
$soft-green: #205f49ff;
$greenish-ash  : #8ca69cff;
$deep-dark-blue  : #0f1324ff;
$pupil-black: #0e110cff;
$voodoo-yellow  : #ffdba1ff;
$voodoo-orange  : #bb4026ff;
$voodoo-carmin  : #9f2820ff;
$soft-yellow  : #eea721ff;
$night-blue  : #252767ff;
$sea-azure  : #02a2ddff;
    
$paragraph-font : 'Cormorant Garamond', serif;
$display-font : 'Playfair Display', serif;

@keyframes bounceIn {
  0% {
	transform: scale(1);
	opacity: 1;
  }
  60% {
	transform: scale(1.3);
	opacity: 1;
  }
  100% {
	transform: scale(1.2);
  }
}

@keyframes fadeIn {
  0% {
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}

body {
	background-color: black;
	margin:0;
	padding:0;
	overflow: hidden;
	text-align: center;
}

#wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 0px;
}

#menu {
	background-color: $pupil-black;
	color: #ffffff;
	font-family: $display-font;
	grid-column: 1;
}

p {
	font-family: $paragraph-font;
}

.geom-button {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.geom-button  label {
    grid-column-start: 2;
}

.geom-button  label:hover {
	animation: bounceIn 1s;
	transform: scale(1.2);
    grid-column-start: 2;
}

.geom-button span {
    display: flex;
	align-items: center;
    opacity: 0;
}

.geom-button:hover span {
    opacity: 1;
    animation: fadeIn 2s;
}
/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  border-radius: 25px;
  border: 2px solid $voodoo-yellow;
}

h1 {
	color: $voodoo-yellow; //#ffcbaa;
} 
#sketch {
	grid-column: 2 / span 3;
}

.basic-btn {
	background: $soft-green;
	color: $greenish-ash;
}
